
body{
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 500px;
    background-image:url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    /*border-bottom-color: #5c5c56;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-width: 3px;*/
}


#canvas{
    width: 900px;
    height: 500px;
    background-color: #000;
}
